@using System.Collections.Generic
@using System.Linq
@using File_Tree.Models

@model File_Tree.Models.DNode

@{
    var enumHeads = new List<string>()
{
        "Amenity","DataType",
    };
    ViewData["Title"] = "Home Page";
    string idName = "";
    string sign = "#";
}
<div class="jumbotron">
    <h1>File Tree</h1>
    <p class="lead">You can see file structure of directories here</p>

</div>

<div class="row">
        <div>
            @PrintNodes(Model, idName)
        </div>

        @helper PrintNodes(DNode node, string idName)
        {
            if (node == null)
            {
                return;
            }
            idName = "#" + node.DirName;
            <a data-toggle="collapse" href=@idName role="button" aria - expanded="True" aria - controls=@node.DirName>
                <b>
                    <ul>
                        <li> @node.DirName </li>
                    </ul>
                </b>
            </a>

            <div class="collapse" id=@node.DirName>
                <div class="card card-body">

                    @if (node.Files != null)
                    {
                        <ol>
                            @for (int nodeCounter = 0; nodeCounter < node.Files.Count(); nodeCounter++)
                            {
                                <li> @node.Files[nodeCounter] </li>
                            }
                        </ol>
                    }

                    @if (node.Directories != null)
                    {
                        for (int dirCounter = 0; dirCounter < node.Directories.Count(); dirCounter++)
                        {
                            @PrintNodes(node.Directories[dirCounter], "");
                        }
                    }
                </div>
            </div>
        }
</div>
